src/main/mule/test-sap-poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5c79245b-4c22-4a96-a0e2-54d86370cd14" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test-sap-pocFlow" doc:id="7ff2eb40-1f5a-4a7e-ba86-4d72f2ce8ecb" >
		<http:listener doc:name="Listener" doc:id="67619d9f-8152-4680-bfb2-09e154fc74aa" config-ref="HTTP_Listener_config" path="/sap"/>
		<logger level="INFO" doc:name="Logger" doc:id="a26f7f09-f8d9-4721-83f5-831a4ad57f68" message='#["This is Just to test the SAP Lib"]'/>
	</flow>
</mule>
